 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

a.active p.green{
    color: #70A752;
}
a.active p.blue{
    color: #007A83;
}
a.active p.yellow{
    color: #D7832F;
}
a.active p.red{
    color:#DB2D26;
}

a.active hr.green:hover{
    color: #70A752;
}

*{
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  